img{
hight:500px;
width:500px;
border: solid #000000 3px;
}
body {
    background-color: skyblue;
}
div {
    text-align: center;
    border: solid #ff8080 5px;
}
p{
    font-size: 25px;
}
a{
    font-size: 40px;
    background-color: wheat;
    text-decoration: none;
    }
