<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h3>Add a new album</h3>
<form action="/addAlbum" method="post">
    <label>Title</label>
    <input type="text" name="title" />

    <label>Artist</label>
    <input type="text" name="artist" />

    <label>SongCount</label>
    <input type="text" name="songCount" />

    <label>Length</label>
    <input type="text" name="length" />

    <label>ImageUrl</label>
    <input type="text" name="imageUrl" />

    <input type="submit" value="add album">
</form>

</body>
</html>