<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h3>Add a new Song</h3>
<form action="/addSong" method="post">
    <input type="hidden" name="Albumid" th:value="${album}"/>
    <label>Title</label>
    <input type="text" name="title" />

    <label>Length</label>
    <input type="text" name="length" />

    <label>trackNumber</label>
    <input type="text" name="trackNumber" />

    <input type="submit" value="add Song">
</form>

</body>
</html>